@model UTWproject.Models.resetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input name="id"
               type="hidden"
               value=@Model.id />
            <div class="form-horizontal">
                <h4>resetPasswordModel</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.Question, new SelectList(ViewBag.Quests, "QTextEnglish", "QTextEnglish"), new {@class = "form-control" })

                        @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input class="form-control text-box single-line password" data-val="true" data-val-required="password required " id="Password" name="Password" onkeyup="pa()" type="password" value="">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset" class="btn btn-danger" />
                    </div>
                </div>

            </div>
    }


</body>
</html>
